*,
*::before,
*::after {
  box-sizing: border-box;
}

/* основа текста */

:root {
  --title-text-color: #212121;
  --subtitle-text-color: #757575;
  --accent-color: #2196f3;
  --text-btn-color: #ffffff;
  --fon-color: #2f303a;
  --btn-fon-color: #f5f4fa;
  --icon-fon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text-color);
}

ul {
  list-style-type: none;
}

/* размеры сайта */

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Верхняя линия*/

.nav-line {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.primary-nav {
  display: flex;
  align-items: center;
}

.logo-pagination {
  font-family: 'Raleway', sans-serif;
  color: var(--title-text-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
}

.site-pagination .pagination.current {
  color: var(--accent-color);
}

.site-pagination {
  display: flex;
}

.site-pagination .item:not(:last-child) {
  margin-right: 50px;
}

.pagination {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

.pagination:hover,
.pagination:focus {
  color: var(--accent-color);
}
.link-nav {
  display: flex;
  margin-left: auto;
}

.link-nav .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-nav .item + .item {
  margin-left: 50px;
}

.link-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link {
  color: var(--subtitle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
  text-decoration: none;
}

.link-icon-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-contact-icon {
  align-items: baseline;
  fill: currentColor;
  margin-right: 10px;
}

.logo-site-bottom,
.logo-site,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* шапка */

.container-fon {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--fon-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.primary-button-order:hover,
.primary-button-order:focus,
.portfolio-button .button-order:hover,
.portfolio-button .button-order:focus {
  color: var(--text-btn-color);
  background: var(--accent-color);
}

.primary-button-order {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: var(--title-text-color);
  background: var(--text-btn-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

.portfolio-button .button-order {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text-color);
  background: var(--btn-fon-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
}

.primary-title {
  margin-bottom: 30px;
  color: var(--text-btn-color);
  background: transparent;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* особенности */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-features {
  display: flex;
}

.nav-features .item {
  width: 270px;
}

.item-features-icon {
  width: 270px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background: var(--btn-fon-color);
  border-radius: 4px;
}

.nav-features .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-tatle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--subtitle-text-color);
}

/* чем мы занимаемся */

.section-img {
  padding-bottom: 94px;
}

.subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.block-subtitle-img {
  display: flex;
}

.block-subtitle-img .item:not(:last-child) {
  margin-right: 30px;
}

.subtitle-img {
  display: block;
}

/* наша команда */

.section-employee {
  background: var(--btn-fon-color);
}

.block-employee {
  display: flex;
}

.block-employee .item:not(:last-child) {
  margin-right: 30px;
}

.subtitle-employee {
  display: block;
}

.block-employee .item {
  background: var(--text-btn-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-employee {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.name-specialty {
  font-size: 16px;
  line-height: 1.2;
  color: var(--subtitle-text-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.name-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon-team {
  fill: var(--icon-fon-color);
}

.primary-icon-employee {
  display: flex;
  justify-content: center;
}

.icon-main-employee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.icon-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-fon-color);
}

.icon-team {
  fill: currentColor;
}

.icon-message:hover,
.icon-message:focus {
  color: var(--text-btn-color);
  background: var(--accent-color);
}

.icon-main-employee:not(:last-child) {
  margin-right: 10px;
}

/* Постоянные клиенты  */

.permanent-client {
  display: flex;
  justify-content: center;
}

.permanent-company:not(:last-child) {
  margin-right: 30px;
}

.permanent-company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
}

.link-permanent-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-fon-color);
  color: var(--icon-fon-color);
  border-radius: 4px;
}

.icon-company {
  fill: currentColor;
}

.link-permanent-company:hover,
.link-permanent-company:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* подвал */
.footer-container {
  display: flex;
}

.bottom {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--fon-color);
}

.bottom-pagination {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  color: var(--text-btn-color);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.features-address {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  color: var(--text-btn-color);
  font-style: normal;
  letter-spacing: 0.03em;
}

.bottom-link .item {
  display: block;
}

.bottom-link .item:not(:last-child) {
  margin-bottom: 9px;
}

.join-link-section {
  margin-left: 70px;
}

.icon-join-message {
  display: flex;
}

.join-text {
  margin-bottom: 20px;
  color: var(--text-btn-color);
}

.footer-link-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--text-btn-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link-message:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  fill: currentColor;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background: var(--accent-color);
}

/* портфолио */

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button > .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button .item:hover,
.portfolio-button .item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-container .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-container .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-container .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-specialty {
  font-size: 16px;
  line-height: 1.9;
  color: var(--subtitle-text-color);
  letter-spacing: 0.03em;
}
